<h1>Edit Project</h1>
<%= form_for @project do |f| %>
	<%= f.text_field :title, :value => @project.title %><br>
	<%= f.text_field :caption, :value => @project.caption %><br>
	<%= f.text_area :description, :value => @project.description %><br>

	<%= f.submit 'Update' %><%= button_to 'Cancel', :action => 'show' %>
<% end %>