<h1>New Project</h1>
<%= form_for @project do |f| %>
	<%= f.text_field :title, :placeholder => 'Title' %><br>
	<%= f.text_field :caption, :placeholder => 'Caption' %><br>
	<%= f.text_area :description, size: "80x10", :placeholder => 'Description' %><br>

	<h2>Attachments</h2>
	<%= f.fields_for :project_attachments do |attachment| %>
		<%= attachment.text_field :title, :placeholder => 'Title' %><br>
		<%= attachment.text_area :caption, size: "80x10", :placeholder => 'Caption' %><br>
		<%= attachment.file_field :attachment %><br>
		<%= attachment.text_field :remote_url, :placeholder => 'URL' %><br>
		<%= attachment.text_field :attachment_file_name, :placeholder => 'File Name' %><br>
	<% end %>

	<%= f.fields_for :tags do |tag_field| %>
		<%= tag_field.text_field :name, :placeholder => 'Tags' %><br>
	<% end %>
	
	<%= f.submit 'Submit' %><%= button_to 'Cancel', :action => 'index' %>
<% end %>

