<h1><%= @project.title %></h1>
<% @project.project_attachments.each do |project_attachment| %>
	<h2><%= project_attachment.attachment_file_name %></h2>
	<p>
		<%= image_tag project_attachment.attachment.url %><br>
		<%= project_attachment.caption %>
	</p>
<% end %>
<p><%= @project.description.html_safe %></p>
<ul>
	<% @project.tags.each do |tag| %>
		<li><%= link_to tag.name, tagged_path(tag) %></li>
	<% end %>
</ul>

<% if session[:auth_token] %>
	<ul>
		<li><%= link_to 'Edit', edit_project_path(@project) %></li>
		<li><%= button_to "Delete", @project, :method=>:delete %></li>
	</ul>
<% end %>