<h1><%= @project.title %></h1>
<p><%= @project.description.html_safe %></p>
<ul>
	<% @project.tags.each do |tag| %>
		<li><%= link_to tag.name, project_tag_path(tag) %></li>
	<% end %>
</ul>

<% if session[:auth_token] %>
	<ul>
		<li><%= link_to 'Edit', edit_project_path(@project) %></li>
		<li><%= button_to "Delete", @project, :method=>:delete %></li>
	</ul>
<% end %>