<h1><%= @project.title %></h1>
<p><%= @project.description.html_safe %></p>
<hr>
<%= render 'project_attachments/list_project_attachment', :project => @project %>

<%= render 'tags/list_tag', :entity => @project %>
<hr>

<% if session[:auth_token] %>
	<%= render 'edit_delete', :project => @project %>
<% end %>