<!DOCTYPE html>
<html>
<head>
 <title>Katey Basye</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1><%= link_to 'Katey Basye', root_url %></h1>
	<%= render 'application/main_nav' %>
	<%= yield %>
</body>
</html>
